/* Header */
:root {
   --color-white-100: hsl(206, 5%, 100%);
   --color-white-200: hsl(206, 5%, 90%);
   --color-white-300: hsl(206, 5%, 80%);
   --color-white-400: hsl(206, 5%, 65%);
   --color-white-500: hsl(206, 5%, 50%);

   --color-black-100: hsl(213, 20%, 10%);
   --color-black-200: hsl(213, 23%, 8%);
   --color-black-300: hsl(214, 21%, 6%);
   --color-black-400: hsl(210, 21%, 6%);
   --color-black-500: hsl(216, 22%, 4%);
   --color-black-600: hsl(220, 18%, 3%);
   --color-black-700: hsl(220, 27%, 2%);
   --color-black-800: hsl(180, 20%, 1%);

   --color-blue-100: hsl(214, 95%, 93%);
   --color-blue-200: hsl(213, 97%, 87%);
   --color-blue-300: hsl(212, 96%, 78%);
   --color-blue-400: hsl(213, 94%, 68%);
   --color-blue-500: hsl(217, 91%, 60%);
   --color-blue-600: hsl(221, 83%, 53%);
   --color-blue-700: hsl(224, 76%, 48%);
   --color-blue-800: hsl(226, 71%, 40%);
   --color-blue-900: hsl(224, 64%, 33%);

   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

img,
video {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}


.centered {
   text-align: center;
   vertical-align: middle;
   margin-bottom: 1rem;
}

.heading {
   &-xl {
      font-family: inherit;
      font-size: clamp(2.648rem, 6vw, 4.241rem);
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
   }

   &-lg {
      font-family: inherit;
      font-size: clamp(2.179rem, 5vw, 3.176rem);
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
   }

   &-md {
      font-family: inherit;
      font-size: clamp(1.794rem, 4vw, 2.379rem);
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -1px;
   }

   &-sm {
      font-family: inherit;
      font-size: clamp(1.476rem, 3vw, 1.782rem);
      font-weight: 600;
      line-height: 1.5;
   }

   &-xs {
      font-family: inherit;
      font-size: clamp(1.215rem, 2vw, 1.335rem);
      font-weight: 500;
      line-height: 1.5;
   }
}

.paragraph {
   font-family: inherit;
   font-size: clamp(1rem, 2vw, 1.125rem);
   text-wrap: balance;
   color: var(--color-white-200);
}

.btn {
   display: inline-block;
   font-family: inherit;
   font-size: 1rem;
   font-weight: 500;
   line-height: 1.5;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   user-select: none;
   outline: none;
   border: none;
   border-radius: 0.25rem;
   text-transform: unset;
   transition: all 0.3s ease-in-out;

   &-inline {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;
   }

   &-darken {
      padding: 0.75rem 2rem;
      color: var(--color-white-100);
      background-color: var(--color-black-200);
      box-shadow: var(--shadow-medium);
   }

   &-neutral {
      padding: 0.75rem 2rem;
      color: var(--color-black-500);
      background-color: var(--color-white-100);
      box-shadow: var(--shadow-medium);
   }
}

/* // Header Section */
.header {
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 119px;
   margin: 0 auto;
   transition: all 0.35s ease;

   &.on-scroll {
      background: #fff;
      box-shadow: var(--shadow-medium);
   }
}

/* header .wrapper{
   padding: 10px 0;
} */

 
header ul li a{
   font-size: 14px;
    color: black;
    font-family: gilroy-medium;
}

header .menu .menu-inner img{
    /* position: absolute;
    top: 5px;
    right: 155px; */

   position: relative;
   bottom: 10px;
   left: 78px;
}

header ul li a:hover:not(.training-link){
    color: #05A93D;
}


.about-item {
   position: relative; 
}

.drop_down{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   top: 18px;
   width: 228px;
   height: 56px;
}

.drop_down a:hover{
   background-color: #f3f3f3;
}

.drop_down a{
   background-color: #FFFFFF;
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   text-align: center;
   display: block;
}

.about-item:hover .drop_down {
   display: block;
   
}

.trainings-item:hover .drop_down{
   display: block;
}

.navbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   column-gap: 1.25rem;
   height: 4.25rem;
   margin: 0 auto;
}

.brand {
   font-family: inherit;
   font-size: 1.6rem;
   font-weight: 600;
   line-height: 1.5;
   letter-spacing: -1px;
   color: var(--color-white-100);
   text-transform: uppercase;
}

.menu .active{
    color: #05A93D;
}

.menu ul{
    display: flex;
    gap: 82px;
    color: #000000;
    font-family: gilroy_medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
}

.menu {
   position: fixed;
   top: -100%;
   left: 0;
   width: 100%;
   height: auto;
   padding: 4rem 0 3rem;
   /* overflow: hidden; */
   background-color: green;
   box-shadow: var(--shadow-medium);
   transition: all 0.4s ease-in-out;

   &.is-active {
      top: 0;
      width: 100%;
      height: auto;
   }

   &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.25rem;
   }

   &-link {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      color: var(--color-white-100);
      text-transform: uppercase;
      transition: all 0.3s ease;
   }

   &-block {
      display: inline-block;
      font-family: inherit;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25;
      user-select: none;
      white-space: nowrap;
      text-align: center;
      margin-left: auto;
      padding: 0.65rem 1.5rem;
      border-radius: 3rem;
      text-transform: capitalize;
      color: var(--color-white);
      background-color: var(--color-blue-600);
      box-shadow: var(--shadow-medium);
      transition: all 0.3s ease-in-out;
   }

   
   @media only screen and (min-width: 48rem) {
      position: relative;
      top: 0;
      width: auto;
      height: auto;
      padding: 0rem;
      margin-left: auto;
      background: none;
      box-shadow: none;

      &-inner {
         display: flex;
         flex-direction: row;
         column-gap: 2rem;
         margin: 0 auto;
      }

      &-link {
         text-transform: capitalize;
      }

      &-block {
         margin-left: 2rem;
      }
   }
}

.burger {
   position: relative;
   display: block;
   cursor: pointer;
   user-select: none;
   order: -1;
   z-index: 10;
   width: 1.6rem;
   height: 1.15rem;
   border: none;
   outline: none;
   background: none;
   visibility: visible;
   transform: rotate(0deg);
   transition: 0.35s ease;

   
   @media only screen and (min-width: 48rem) {
      display: none;
      visibility: hidden;
   }

   &-line {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      border: none;
      outline: none;
      opacity: 1;
      border-radius: 1rem;
      transform: rotate(0deg);
      background-color: var(--color-white-100);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
         top: 0px;
      }
      &:nth-child(2) {
         top: 0.5rem;
         width: 70%;
      }
      &:nth-child(3) {
         top: 1rem;
      }
   }

   &.is-active .burger-line {
      &:nth-child(1) {
         top: 0.5rem;
         transform: rotate(135deg);
      }
      &:nth-child(2) {
         opacity: 0;
         visibility: hidden;
      }
      &:nth-child(3) {
         top: 0.5rem;
         transform: rotate(-135deg);
      }
   }
}





/* ---------------banner------------------------- */
#banner{
    background-size: cover;
    background-position: center;
    background-image: url(/images/banner-bgrnd-img.png);
}


#banner .wrapper{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#banner .banner_right{
    margin-top: 161px;
    margin-bottom: 142px;
}

h1 {
    font-family: gilroy-bold;
    font-size: 61.88px;
    line-height: 69px;
}

h1 .first_line {
    color: #05A93D;
    font-weight: 400px; 
}

h1 .second_line {
    color: #F67C01;
}

#banner p{
    color: #4A4949;
    font-family: gilroy-medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
}

#banner .para{
    margin-top: 1px;
}

#banner .button{
    margin-top: 37px;
}
#banner .button a{
    padding: 15px 53px 13px 25px;
    color: white;
    text-decoration: none;
    background-color: #05A93D;
    border-radius: 70px;
}

#banner .button_icon{
    max-width: 18px;
    position: relative;
    left: 112px;
    bottom: 21px;
}


/* ------service-------- */
#service .wrapper{
   width: 1610px;
   display: flex;
   justify-content: center;
}

#service .card_container{
   margin-top: 132px;
   margin-bottom: 134px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 30px;
}

#service .card_para, .card_title, .card img{
   margin-left: 33px;
}

#service .wrapper .card img{
   margin-top: 32px;
}

#service .card_title{
   margin-top: 23px;
   margin-bottom: 13px;
}

#service .card_title h4{
   font-family: gilroy-semibold;
}

#service .card_para p{
    margin-bottom: 31px;
    margin-right: 27px;
    color: #777777;
    letter-spacing: 0.20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    font-family: gilroy-medium;
}

#service .card {
   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 12px 0px;
   /* width: 320px; */
}



/* --------trainings------------ */
#trainings {
   background-color: #EFFAF6;
   padding-bottom: 117px;
}

#trainings .text{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#trainings .training_cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;

}

#trainings h3{
   padding-top: 76px;
   font-family: gilroy-bold;
   font-weight: 400;
   font-size: 43px;
   line-height: 69px;
}

#trainings .text p{
   margin: 10px 0 47px;
   color: #777777;
   letter-spacing: 0.32px;
   line-height: 24px;
   font-size: 17px;
   font-weight: 400;
   font-family: 'gilroy-medium';
   text-align: center;
   width: auto;
}

#trainings .text_contents{
   background-color: white;
   padding-left: 33px;
   padding-right: 33px;
   padding-bottom: 14px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

#trainings h4{
   font-family: gilroy-semibold;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.32px;
   margin-top: 26px;
   margin-bottom: 12px;
}

#trainings .text_contents p{
   font-family: gilroy-medium;
   color: #777777;
   font-size: 15px;
   line-height: 23px;
   letter-spacing: 0.32px;
   margin-bottom: 24px;
}
#trainings img{
   border-top-left-radius: 13px;
   border-top-right-radius: 13px;
   width: 380px;
   height: 236px;
}

#trainings h6{
   padding: 5px 10px 3px 10px;
   color: white;
   background-color: #05A93D;
   font-family: gilroy-semibold;
   font-size: 14px;
   line-height: 100%;
   width: 79px;
   height: 25px;
}

#trainings a{
   text-decoration: none;
   color: #05A93D;
   font-family: gilroy-semibold;
   font-size: 17px;
   letter-spacing: 0.8px;
}

#trainings a img{
   width: 18px;
   height: 18px;
   position: relative;
   left: 95px;
   bottom: 20px;
}

/* -------about-r----------- */

#about-r .wrapper{
   /* display: grid;
   grid-template-columns: 1fr 1fr; */
   margin: 135px auto 132px;
}

#about-r .image img{
   width: 100%;
}
#about-r .text{
   padding-top: 53px;
}

#about-r h3{
   font-family: gilroy-bold;
   font-size: 43px;
   line-height: 69px;
   color: #05A93D;
}

#about-r p{
   font-family: gilroy-medium;
   color: #777777;
   font-size: 16px;
   line-height: 28px;
   margin-bottom: 21px;
}

#about-r .button{
   display: flex;
}

#about-r .button a{
   letter-spacing: 1.6px;
   color: white;
   background-color: #05A93D; 
   border-radius: 45px; 
   padding: 15px 53px 1px 25px;
}

#about-r .button img{
   margin-left: 10px;
   position: relative;
   left: 92px;
   bottom: 21px;
}

/* -----------contact-us----------- */

#contact{
   background-color: #EFFAF6;
   padding-top: 97px;
   padding-bottom: 79px;
}

#contact h2{
   font-family: gilroy-bold;
   font-size: 43px;
   line-height: 49px;
}

#contact .forms{
   margin-top: 42px;
   font-family: roboto;
   color: #898989;
}

.input1{grid-area: first-name;}
.input2{grid-area: sur-name;}
.input3{grid-area: email;}
.input4{grid-area: phone;}
.input5{grid-area: message;}

#contact .wrapper #form{
   display: grid;
   grid-template-areas: 
   'first-name sur-name'
   'email phone'
   'message message';
   gap: 80px; 
}

textarea{
   height: 142px;
   background: transparent;
   border: none;
   border-bottom: 1px solid #8F8F8F;
   width: 100%;
}

input[type=text] {
   background: transparent;
   border: none;
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border-bottom: 2px solid #8F8F8F;
}

#contact .button button{
   background-color: #F67C01;
   border-radius: 70px;
   text-decoration: none;
   border: none;
   color: white;
   text-align: center;
   padding: 15px 53px 13px 25px;
   text-align: center;
   margin-top: 35px;
}

#contact .button img{
   margin-left: 10px;
   position: relative;
   left: 70px;
   bottom: 34px;
}


/* --------footer---------- */

footer{
   background-color: #05A93D;
}

footer .wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
}

footer .logo{
   margin-top: 68.4px;
}

footer .link{
   display: flex;
   justify-content: space-between;
   gap: 73px;
   margin-top: 37.78px;
   margin-bottom: 41px;
}

footer .link a{
   color: white;
   font-family: gilroy-medium;
   font-size: 17px;
   line-height: 100%;
   letter-spacing: 13%;
}

footer .socials{
   display: flex;
   gap: 11px;    
}

footer .socials a{
   background-color: #F67C01;
   border: 1px;
   border-radius: 20px;
   padding: 12px 16px 13px 15px;
}

footer .socials a:nth-child(2){
   padding: 13px 13px 13px 12px;
}

footer .socials a:nth-child(3){
   padding: 12px 13px 13px 12px;
}

footer .socials a:nth-child(4){
   padding: 12px 13px 13px 13px;
}

hr{
  width: 100%;
}

footer p{
   font-family: gilroy-medium;
   font-size: 14px;
   line-height: 100%;
   letter-spacing: 1.82px;
   color: #FFFFFF;
   padding-bottom: 43px;
   text-align: center;
}




/* Responsive */

@media screen and (max-width: 1610px) {
   #service .wrapper{
      width: 100%;
      padding: 0 20px;
   }

   header .menu ul{
      gap: 82px;
   }
}

@media screen and (max-width: 1078px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }


    header {
      padding: 0 20px;
    }

    /* .header{
      height: auto;
    } */

}

@media screen and (max-width: 1199px) {
    #banner .wrapper {
        width: 100%;
        padding: 0 20px;
    }

}



@media screen and (max-width: 992px){
   header .menu ul{
      gap: 53px;
   }

   #service .card_container{
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   #trainings .training_cards{
      display: grid;
      grid-template-columns: 1fr;
   }

   #trainings img{
      width: auto;
      height: auto;
   }
}





@media screen and (max-width: 767px){
    .menu{
        padding: 0rem;
    }

    .menu ul{
        padding: 16px;
    }

    header .navbar{
        height: 80px;
    }

    .menu .menu-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar img{
        max-width: 75%;
    }

    h1{
        font-size: 50px;
        line-height: 50px;
    }

    
    
}


@media screen and (max-width:576px) {
   /* header .wrapper{
      padding-left: 5px;
      padding-right: 5px;
   } */

   #banner .banner_left{
      display: none;
   }

   #banner .wrapper{
      display: grid;
      grid-template-columns: 1fr;
   }

   #banner h1{
   font-size: 45px;
   font-weight: 600;
   }

   #service .card_container{
      display: grid;
      grid-template-columns: 1fr;
   }

   #contact .wrapper #form{
      grid-template-areas: 
      'first-name' 
      'sur-name'
      'email' 
      'phone'
      'message';
      }
}

@media  screen and (max-width:400px) {

    #header .navbar {
  display: flex;
  justify-content: space-between; /* Pushes items to edges */
  align-items: center;            /* Aligns items vertically in center */
  flex-wrap: wrap;                /* Optional: Allows wrapping on very small screens */
  padding: 0.5rem 1rem;           /* Optional spacing */
}

.navbar .logo {
  max-width: 200px; /* Make image responsive */
  height: auto;
}

.burger {
  display: block;
}

footer .link{
   gap: 10px;
}

footer .logo{
   margin-top: 30px;
}
}